@import url("estilosGenerales.css");

body{

    background: linear-gradient(45deg , var(--stratos), var(--RBlue), var(--BBlue));
    height: 100vh;
}

#maestro{

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    align-items: center;
    justify-content: center;
}

h1{

    font-family: QuicksandRegular;
}

h2, pre{

    font-family: QuicksandLigth;
}

h1, h2{

    text-align: center;

    color: var(--Botticelli);

    margin: 5% 0%;
}

#input{

    font-family: QuicksandRegular;

    text-align: center;
    width: 200px;
    height: 50px;

    background: transparent;
    border: none;
    border-radius: 10px;

    color: var(--BBlue);

    transition: ease-out 0.3s;

    font-size: 150%;
}

#input::placeholder{

    color: var(--BBlue);
}

#input:hover{

    background-color: var(--stratos);
}

#divBoton{

    visibility: hidden;
}

#divTabla{

    display: flex;

    align-items: center;
    justify-content: center;
}

input {

    border: solid var(--stratos) 0.1px;
    border-radius: 7px;

    background: radial-gradient(var(--BBlue), var(--RBlue));

    font-family: QuicksandLigth;
    font-size: 22px;
    color: var(--Botticelli);

    width: 40px;
    height: 40px;

    text-align: center;
}

#matrisA, #matrisB {

    margin: 0px 25px;
}

#boton2{

    font-family: QuicksandRegular;
    font-size: 25px;
    color: var(--BBlue);

    background-color: transparent;
    border: none;
    border-radius: 20px;

    font-family: ;

    width: 100px;
    height: 50px;

    margin: 20px 0px;

    transition: ease-out 0.3s;
}

#boton2:hover{

    background-color: var(--stratos);
}

#divCosas{

    display: flex;

    align-items: center;
    justify-content: center;

    margin-top: 80px;
}

#pseudocodigo, #operaciones, #matrisR{

    opacity: 0;

    margin: 0px 30px;
}

.codigoFacilito, .oper{

    font-family: QuicksandBold;
    font-size: 20px;

    color: var(--Botticelli);
}


